body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to left, hwb(49 29% 4%), #dd5050);
}

.login {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #2980b9;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    padding: 0 20px;
    box-sizing: border-box; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.input-box input:focus {
    border-color: #6e1a92;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    background-color: #81bbe2;
    border: none;
    color:  rgb(17, 11, 11);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color:#a669df;
}

button:active {
    transform: scale(0.98);
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }